



@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#fondito {
    font-family: "Poppins", sans-serif;
    background-color: #090909;
    padding: 50px;
}

/* General styles end */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px;
}

.navbar {
   
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2327;
    padding-block: 15px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.logo {
    margin-right: 50px;
}

.list {
    list-style: none;
    display: flex;
    gap: 25px;
}

#toggler,
.navbar label {
    display: none;
}

@media screen and (max-width: 600px) {
    .menu {
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .list {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .navbar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    #toggler:checked~.menu {
        max-height: 100%;
    }
}

nav {
    padding-top: 19px;
   
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    position: fixed;
}

a {
    position: relative;
    text-decoration: none;
    color: #222;
    font-size: 18px;
    letter-spacing: .5px;
    padding: 0 20px;
    cursor: pointer;
}

a:before,
a:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background: red;
    transition: .5s;
}

a:after {
    left: 0;
    bottom: -10px;
}

a:before {
    right: 0;
    top: -10px;
}

a:hover:after,
a:hover:before {
    width: 100%;
}

#navbar {
   
    
    backdrop-filter: blur(10px);
}

.button-89 {
    --b: 3px;
    /* border thickness */
    --s: .45em;
    /* size of the corner */
    --color: red;

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
    conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid red;
    outline-offset: .6em;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.button-89:active {
    background: var(--color);
    color:red;
}


.card {
    width: 330px;
    height: 65px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

 

  #todas {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card .card-text {
    text-align: center;
  }

.prueba{
        border-radius: 60px;
background: #f4f0f0;
box-shadow:  21px 21px 41px #a6a3a3,
             -21px -21px 41px #ffffff;
    }